{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="col-xs-12">
                    <h1>Bienvenue sur votre compte !</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}